<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>组件</title>
	<script type="text/javascript" src="../vue.js"></script>
</head>
<body>
	<h3>props绑定类型</h3>
	<div id="app">
		<input type="text" v-model="parent">
		<br>
		<h3>默认绑定类型 单向绑定 子组件改变父组件不变 父组件改变子组件同时改变</h3>
		<child :msg="parent"></child>
		<h3>.sync绑定 双向绑定 子组件或父组件中其一改变 其关联组件也会改变</h3>
		<child :msg.sync="parent"></child>
		<h3>.once绑定 单次绑定 实例化的时候绑定</h3>
		<child :msg.once="parent"></child> 
	</div>

	<script type="text/javascript">
	Vue.component('child',{
		props : ['msg'],
		template : "<input type='text' v-model='msg'>"
	});

	var vm = new Vue({
		el : "#app",
		data : {
			parent : 'Aurora'
		}
	})
	</script>
</body>
</html>