<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>组件</title>
	<script type="text/javascript" src="../vue.js"></script>
</head>
<body>
	<h3>注册语法糖</h3>
	<div id="app">
		
	</div>

	
	<script type="script" id="mytem">
		<div>
			<div>
				<input type="text" v-model="form.username"><br>
				{{form.username}}
			</div>
			<hr>
			<div>
				<input type="text" v-model="form.email"><br>
				{{form.email}}
			</div>
			<br>
			<button v-on:click="save">sub</button>{{clicked}}
		</div>
	</script>
	<script type="text/javascript">
	var vm = new Vue({
		el : "#app",
		template : "#mytem",
		data : {
			form : {
				username : 'Aurora',
				email : '511642774@qq.com'
			},
			clicked : ''
		},
		methods : {
			save : function(){
				this.clicked = "Submitting...";
			}
		}
	})
	</script>
</body>
</html>