<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todos应用</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap.css">
	<script type="text/javascript" src="../vue.js"></script>
	<style type="text/css">
	.div1{width: 500px;margin:10px;padding: 10px;}
	.list-group-item{list-style: none;margin:0;}
	.oLi-transition{transition:all 0.4s ease;}
	.oLi-enter,.oLi-leave{height: 0;opacity: 0;padding: 0;}
	</style>
</head>
<body>
	<div class="div1" id="app">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h2>Todo 应用</h2>
				</div>
				<div class="col-md-4">
					<input type="text" v-model="oVal" v-on:keyup.enter="addList" placeholder="回车添加List">
				</div>
			</div>
		</div>
		<ul class="list-group">
			<li class="list-group-item" v-for="item in items" transition="oLi">
				{{item.msg}}&nbsp;<button v-on:click="remove($index)">Remove</button>
			</li>
		</ul>
	</div>

	<script type="text/javascript">
	new Vue({
		el : "#app",
		data : function(){
			return {
				items : [

				],
				oVal : '',
				checked : true
			}
		},
		methods : {
			remove : function(index){
				this.items.splice(index,1);
			},
			addList : function(){
			    var value = this.oVal;
			    if(value == ''){
			    	return false;
			    }
			    this.items.push({msg : value});
			    this.oVal = '';
			}
		}
	});
	</script>
</body>
</html>